.fixposition {
  width: 100%;
  margin-top: 100px;
  padding: 0 100px;
  @include flexbox;
  .aboutcontainer {
    width: 1071px;
    h2 {
      font-style: italic;
      font-size: 40px;
      color: $black;
    }

    .wrappers {
      @include column-flexbox;
      .aboutwrapper {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        width: 864px;
        .text {
          width: 350px;
          h3 {
            font-size: 25px;
          }

          p {
            margin-top: 50px;
            font-size: 20px;
          }
        }
        img {
        }
      }
    }
  }
}
