.carouselcon {
  position: relative;
  height: calc(100vh - 150px);
  margin-top: 150px;
  padding: 0 100px;
  .mask {
    img {
      z-index: 100;
      width: 100%;
    }
  }
  .mask:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transition: 1.2s 0.5s;
  }
}

.active {
  position: relative;
  height: calc(100vh - 150px);
  margin-top: 150px;
  padding: 0 100px;
  .mask {
    img {
      z-index: 100;
      width: 100%;
    }
  }
  .mask:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    transition: 0.8s 0.5s;
  }
}

.arrow.next {
  z-index: 110;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: transparent;
  line-height: 1px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  right: 2%;
  top: 50%;
}

.arrow.prev {
  z-index: 110;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: transparent;
  line-height: 1px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  left: 2%;
  top: 50%;
}
