.aboutcontainer {
  margin-top: 100px;
  .subject {
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
  }
  .body {
    @include flexbox;
    // flex-direction: column;
    .contentswrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .desc {
        width: 350px;
      }
      img {
        width: 350px;
      }
    }
  }
}
